<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="flex justify-content-center align-items-center h-full"
>
  <p-card [style]="{ width: AUTH_CARD_WIDTH + 'px' }">
    <ng-template pTemplate="title">
      <div class="flex justify-content-center">
        Login
      </div>
    </ng-template>
    <div class="field mb-5">
      <span class="p-float-label">
        <input
          pInputText
          id="email"
          formControlName="email"
          required
          class="w-full"
          placeholder="Enter your e-mail..."
        />
        <label for="email">Email</label>
      </span>
      <small
        class="p-error block"
        *ngIf="formGroup.controls.email.invalid && formGroup.controls.email.dirty && formGroup.controls.email.hasError('required')"
      >
        {{fieldErrorsMap.required}}
      </small>
      <small
        class="p-error block"
        *ngIf="formGroup.controls.email.invalid &&
          formGroup.controls.email.dirty &&
          formGroup.controls.email.hasError('email')"
      >
        {{fieldErrorsMap.email}}
      </small>
    </div>

    <div class="field">
      <span class="p-float-label">
        <input
          pInputText
          id="password"
          formControlName="password"
          required
          class="w-full"
          placeholder="Enter your password..."
        />
        <label for="password">Password</label>
      </span>
      <small
        class="p-error block"
        *ngIf="formGroup.controls.email.invalid &&
          formGroup.controls.password.dirty &&
          formGroup.controls.password.hasError('required')"
      >
        {{fieldErrorsMap.required}}
      </small>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-between">
        <p-button
          routerLink='/auth/registration'
          label="Registration"
          [text]="true"
          severity="secondary"
          type="button"
        />
        <p-button
          label="Sign in"
          severity="primary"
          type="submit"
          [disabled]="formGroup.invalid"
        />
      </div>
    </ng-template>
  </p-card>
</form>
