<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <app-center-card-wrapper
    [title]="cardTitle"
    [buttonLink]="buttonLink"
    [buttonLinkTitle]="buttonLinkTitle"
    [mainButtonTitle]="mainButtonTitle"
  >
    <div>
      <mat-form-field class="width-100">
        <mat-label>First name:</mat-label>
        <input matInput placeholder="Enter your first name" formControlName="firstName" required>
        <mat-error id="firstName"></mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width-100">
        <mat-label>Last name:</mat-label>
        <input matInput placeholder="Enter your first name" formControlName="lastName" required>
        <mat-error id="lastName"></mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width-100">
        <mat-label>E-mail:</mat-label>
        <input matInput type="email" placeholder="Enter your first name" formControlName="email" required>
        <mat-error id="email">{{getEmailError()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width-100">
        <mat-label>Password:</mat-label>
        <input matInput type="password" autocomplete="false" placeholder="Enter your first name" formControlName="password" required>
        <mat-error id="password"></mat-error>
      </mat-form-field>
    </div>
  </app-center-card-wrapper>
</form>
